@model object

@{

}

<!DOCTYPE html>
<html lang="en">
<head>
    @Html.Partial("_Head")
</head>
<body class="overflow-hidden">
    <div class="row m-0">
        @Html.Partial("_Menu")
        <div class="col-md-10 col-12">
            <form action="" method="post">
                @Html.EditorForModel()
            </form>
            <div>
                @RenderBody()
            </div>
        </div>
    </div>
</body>

<body class="overflow-hidden">
    <input type="hidden" id="root" value="@Html.ViewContext.HttpContext.Request.Host.Value" />
    <div class="container-fluid" style="padding:0px">
        <div class="row m-0">
            @Html.Partial("_Menu")
            <div class="col-md-10 col-12">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>
        
    </div>

</body>

</html>
