<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Knockout_Init</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/manifest.json"/>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/Views/site.js" asp-append-version="true"></script>
    <script src="~/js/knockout-js.js"></script>
    @*<script src="~/service-worker.js"></script>*@
    @RenderSection("Scripts", required: false)
</head>
<body>
    <input type="hidden" id="root" value="@Html.ViewContext.HttpContext.Request.Host.Value" />
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*<footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now - Knockout_Init - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@

</body>
</html>
