<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"  />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Knockout_Init</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css"asp-append-version="true" />
    <link href="~/manifest.json"/>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/Views/site.js" asp-append-version="true"></script>
    <script src="~/js/knockout-js.js"asp-append-version="true"></script>
    <script src="~/js/knockout-Grid.js"asp-append-version="true"></script>
    <script src="~/service-worker.js"asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</head>
<body class="overflow-hidden">
    <input type="hidden" id="root" value="@Html.ViewContext.HttpContext.Request.Host.Value" />
    <div class="container-fluid" style="padding:0px">
        <div class="row m-0">
            <div class="col-md-2 col-12 h-100" style="padding: 0px;">
                <ul class="menu">
                    <li><a href='@Url.Action("Index","TaskList")'>Lista de Tarefas</a></li>
                    <li><a href='@Url.Action("Index","Converter")'>Conversor</a></li>
                    <li><a href='@Url.Action("Index","Grid")'>Grid</a></li>
                </ul>
            </div>
            <div class="col-md-10 col-12">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>
        
    </div>

    @*<footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now - Knockout_Init - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@

</body>
</html>
