<div class="col-md-2 col-12 h-100" style="padding: 0px;">
    <ul class="menu">
        <li><a href='@Url.Action("Index","TaskList")'>Lista de Tarefas</a></li>
        <li><a href='@Url.Action("Index","Converter")'>Conversor</a></li>
        <li><a href='@Url.Action("Index","Grid")'>Grid</a></li>
        <li><a href='@Url.Action("Index","Curriculum")'>Curriculo</a></li>
        <li><a href='@Url.Action("Index","Component")'>Componentes</a></li>
    </ul>
</div>
<input type="hidden" id="root" value="@Html.ViewContext.HttpContext.Request.Host.Value" />
